apiVersion: apps/v1
kind: Deployment
metadata:
  name: kea-dhcp
  namespace: network
spec:
  template:
    spec:
      containers:
      - name: kea-dhcp4
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
      - name: kea-dhcp6
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: suricata
  namespace: security
spec:
  template:
    spec:
      containers:
      - name: suricata
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 512Mi