apiVersion: apps/v1
kind: Deployment
metadata:
  name: coredns
  namespace: network
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kea-dhcp
  namespace: network
spec:
  replicas: 2