apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - configmap.yaml

commonLabels:
  app.kubernetes.io/part-of: fos1
  app.kubernetes.io/component: routing
